/* General Application Styles */
.root {
    -fx-text-fill: white;
}

.application {
    -fx-background-color: black;
    /* Clean black background */
}

/* Text Styling */
.text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-bar__banner {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

/* Menu Bar Button Styling */
.menu-bar__button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 4px 8px;
    -fx-cursor: hand;
    /* Smooth transition */
}

/* Button Hover Effect */
.menu-bar__button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.meter>.bar {
    -fx-height: 100%;
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.meter>.track {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: white;
    -fx-background-color: transparent;
}

/* Headings (optional for future use) */
.text--heading {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding-bottom: 10px;
}